.LoginActivity{

  overflow: hidden;
  .masab {
    .salman {
      .picture {
        height: 110vh;
        width: 114vh;
      }
    }

    .umar {
      display: flex;
      justify-content: center;
      flex-direction: column;
margin-left: -20px;

      gap: 40px;

      .fa-twitter {
        font-size: 50px;
        color: #1d9bf0;
        float: left;
      margin-top: 45px;
      }

      .heading {

        font-weight: bolder;
        font-size: 70px;
        font-family: inherit;
        letter-spacing: -1.2px;
      }

      .heading1 {
        font-weight: bold;
      }

      .form-group {

        .input1 {
          border-radius: 30px;
          width: 300px;
          text-align: center;
          font-weight: bolder;
          color: black;
          position: absolute;
          border: 1px dashed #ff0000;
        }

        .input1:hover {
          background-color: #e6e6e6;
          border-radius: 30px;
          width: 300px;
          text-align: center;
          font-weight: bolder;
          color: #0f1419;
        }

        .fa-apple {

          font-size: 25px;


        }
      }

      .input2 {
        border-radius: 30px;
        width: 300px;
        text-align: center;
        font-weight: bolder;
        color: white;
        background-color: #1a8cd8;
        margin-top: -38px;
        border: 1px dashed #ff0000;
      }
      .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
      }
      .overlay:target {
        visibility: visible;
        opacity: 1;
      }
      .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 25px;
        width: 40%;
        height: 80vh;
        position: relative;
        transition: all 5s ease-in-out;
      }
      .popup h2 {
        margin-top: 120px;
        color: black;
        font-family: Tahoma, Arial, sans-serif;
        font-size: 25px;
        font-weight: bolder;

      }
      .popup .para {
padding-top: 10px;
        color: black;
        font-family: Tahoma, Arial, sans-serif;
        font-size: 15px;
        font-weight: bold;

      }
      .popup .text {

        color: #878a8c;
        font-family: Tahoma, Arial, sans-serif;



      }
      .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        float: left;
      }
      .popup .icon{
        font-size: 50px;
        color: #1d9bf0;
        padding-left: 200px;

      }
      .popup .close:hover {
        color: #06D85F;
      }
      .popup .content  .input4{
        height: 40px;
        border: 1px solid blue;
        width: 10px;
      }

      .paragraph {
        font-family: 'Hind', sans-serif;
        letter-spacing: 0.5px;
        font-size: 11px;
        margin-top: -30px;
      }

      .ancle {
        color: #1d9bf0;
        text-decoration: none;
      }

      .ancle:hover {
        cursor: pointer;
        text-decoration: #1d9bf0;
      }

      .head {
        font-weight: bolder;

      }

      .or-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 10px;
        align-items: center;


        .or-line {
          height: 1px;
          width: 145px;
          background: #eff3f4;
        }

        .or {
          color: black;
        }

      }

      .input3 {
        border-radius: 30px;
        width: 300px;
        text-align: center;
        font-weight: bolder;
        color: #1d9bf0;


      }

    }

  }
  .footer{
    font-size: 13px;
    color: #536471;
    word-spacing: 4px;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 0.9px;
  }
  @media only screen and (max-width: 800px){
    .umar{
     padding-left: 40px;
     width: 100%;
    }
.masab{
  display: flex;
  flex-direction: column-reverse;
}
    .salman{
      margin-top: 50px;
      width: 100%;
      height: 100%;
    }

    }
  @media only screen and (max-width: 350px){
    .umar{
      width: 100%;
    }
    .masab{
      display: flex;
      flex-direction: column-reverse;
    }
    .salman{
      margin-top: 50px;
      width: 70vh;
      height: 100%;
    }

  }
}